<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/disk.css">
    <title>PC360 Insights</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon32.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon32.ico">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../static/images/logo.png" alt="Logo" class="logo" draggable="false">
            <div class="logo-text">
                <p><strong>
                    &nbsp;&nbsp;&nbsp; Integral Coach Factory, Chennai-
                    <span class="large-number">600038&nbsp;&nbsp;&nbsp</span><br>
                    A Production unit under Ministry of Railways
                </strong></p>
            </div>
        </div>
    </header>
    
       
    <div class="custom-heading">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <a href="/" class="home-button">
            <span class="home-icon-container">
                <img src="../static/images/home.png" alt="Home" class="home" draggable="false" width="32" height="32">
            </span>
        </a>
        <h1>
            <span>PC360 Insights</span>
            <img src="../static/images/img.png" alt="Image" class="image" draggable="false" width="55" height="55">
        </h1>
        <nav class="dropdown-menu">
            <ul>
                <li>
                    <a href="/system"> <!-- Wrap the entire list item with an anchor tag -->
                        <strong>
                            <img src="../static/images/sysinfo.png" alt="System Icon" class="icon" width="32" height="32" draggable="false">
                            System
                        </strong>
                    </a>
                </li>                
                <li>
                    <a href="/software">
                        <strong>
                            <img src="../static/images/software.png" alt="Software Icon" class="icon" width="32" height="32" draggable="false">
                            Software
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/bios">
                        <strong>
                            <img src="../static/images/bios.png" alt="BIOS Icon" class="icon" width="32" height="32" draggable="false">
                            BIOS
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/local">
                        <strong>
                            <img src="../static/images/usercred.png" alt="User Accounts Icon" class="icon" width="32" height="32" draggable="false">
                            User Accounts
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/memory_slot">
                        <strong>
                            <img src="../static/images/memory_slot.png" alt="Memory Slot Icon" class="icon" width="32" height="32" draggable="false">
                            Memory Slot
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/multimedia">
                        <strong>
                            <img src="../static/images/multimedia.png" alt="Multimedia Icon" class="icon" width="32" height="32" draggable="false">
                            Multimedia
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/cdrom">
                        <strong>
                            <img src="../static/images/cd_rom.png" alt="CD-ROM Icon" class="icon" width="32" height="32" draggable="false">
                            CD-ROM
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/printer">
                        <strong>
                            <img src="../static/images/printer.png" alt="Printer Icon" class="icon" width="32" height="32" draggable="false">
                            Printer
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/shared">
                        <strong>
                            <img src="../static/images/shared.png" alt="Shared Directories Icon" class="icon" width="32" height="32" draggable="false">
                            Shared Directories
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/disk">
                        <strong>
                            <img src="../static/images/disk.png" alt="Disk Icon" class="icon" width="32" height="32" draggable="false">
                            Disk
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofile">
                        <strong>
                            <img src="../static/images/profile.png" alt="Profile Icon" class="icon" width="32" height="32" draggable="false">
                            Profile
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/network">
                        <strong>
                            <img src="../static/images/network.png" alt="Network Icon" class="icon" width="32" height="32" draggable="false">
                            Network
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/startup">
                        <strong>
                            <img src="../static/images/startup.png" alt="Startup Icon" class="icon" width="32" height="32" draggable="false">
                            Startup
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/syshotfix">
                        <strong>
                            <img src="../static/images/patch.png" alt="Patch History Icon" class="icon" width="32" height="32" draggable="false">
                            Patch History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/partition">
                        <strong>
                            <img src="../static/images/partition.png" alt="Partition Icon" class="icon" width="32" height="32" draggable="false">
                            Partition
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/update">
                        <strong>
                            <img src="../static/images/update.png" alt="Update Icon" class="icon" width="32" height="32" draggable="false">
                            Update
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofilearch">
                        <strong>
                            <img src="../static/images/profilearch.png" alt="Profile History Icon" class="icon" width="32" height="32" draggable="false">
                            Profile History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/antivirus">
                        <strong>
                            <img src="../static/images/antivirus.png" alt="Antivirus Icon" class="icon" width="32" height="32" draggable="false">
                            Antivirus
                        </strong>
                    </a>
                </li>                
            </ul>
        </nav>
    </div>   
     
    <div class="content">
        <div class="disk-info">
            <img src="../static/images/disk.png" alt="Disk Icon" class="icon" width="32" height="32" draggable="false">
            <h2>Disk Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/totalspace.png" alt="Disk Space Icon" class="icon" width="32" height="32" draggable="false">
                    Total Disk Space:
                </strong> 
                <span id="total-disk-space"></span> bytes
            </li>
            <li>
                <strong>
                    <img src="../static/images/availabledisk.png" alt="Free Space Icon" class="icon" width="32" height="32" draggable="false">
                    Total Free Space:
                </strong> 
                <span id="total-free-space"></span> bytes
            </li>
            <li>
                <strong>
                    <img src="../static/images/partition.png" alt="Partitions Icon" class="icon" width="32" height="32" draggable="false">
                    Total Partitions:
                </strong> 
                <span id="total-partitions"></span>
            </li>
        </ul>
    </div>

    
    <div class="content">
        <div class="mapped-information">
            <img src="../static/images/mapped.png" alt="Mapped Drive Icon" class="icon" width="32" height="32" draggable="false">
            <h2>Mapped Drive Information</h2>
        </div>
        <table class="mapped-table">
            <thead>
                <tr>
                    <th><img src="../static/images/localf.png" alt="Local Folder Icon" width="24" height="24"> Local Drive</th>
                    <th><img src="../static/images/networkf.png" alt="Remote Folder Icon" width="24" height="24"> Remote Drive</th>
                </tr>
            </thead>
            <tbody id="mapped-data">
                <!-- Mapped drive information will be populated here dynamically -->
            </tbody>
        </table>
    </div>
    

    <footer class="footer">
        <p class="footer-text"><strong>© Developed by IT Centre<strong></p>
    </footer>

    <script src="../static/disk.js"></script>
</body>
</html>
