<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>PC360 Insights</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon32.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon32.ico">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../static/images/logo.png" alt="Logo" class="logo" draggable="false">
            <div class="logo-text">
                <p><strong>
                    &nbsp;&nbsp;&nbsp; Integral Coach Factory, Chennai-
                    <span class="large-number">600038&nbsp;&nbsp;&nbsp</span><br>
                    A Production unit under Ministry of Railways
                </strong></p>
            </div>
        </div>
    </header>
    
       
    <div class="custom-heading">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
    
        <h1>
            <span>Welcome to PC360 Insights</span>
            <img src="../static/images/img.png" alt="Image" class="image" draggable="false" width="55" height="55">
        </h1>
    
        <!-- Dropdown Menu -->
        <nav class="dropdown-menu">
            <ul>
                <li>
                    <a href="/system"> <!-- Wrap the entire list item with an anchor tag -->
                        <strong>
                            <img src="../static/images/sysinfo.png" alt="System Icon" class="icon" width="32" height="32" draggable="false">
                            System
                        </strong>
                    </a>
                </li>                
                <li>
                    <a href="/software">
                        <strong>
                            <img src="../static/images/software.png" alt="Software Icon" class="icon" width="32" height="32" draggable="false">
                            Software
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/bios">
                        <strong>
                            <img src="../static/images/bios.png" alt="BIOS Icon" class="icon" width="32" height="32" draggable="false">
                            BIOS
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/local">
                        <strong>
                            <img src="../static/images/usercred.png" alt="User Accounts Icon" class="icon" width="32" height="32" draggable="false">
                            User Accounts
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/memory_slot">
                        <strong>
                            <img src="../static/images/memory_slot.png" alt="Memory Slot Icon" class="icon" width="32" height="32" draggable="false">
                            Memory Slot
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/multimedia">
                        <strong>
                            <img src="../static/images/multimedia.png" alt="Multimedia Icon" class="icon" width="32" height="32" draggable="false">
                            Multimedia
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/cdrom">
                        <strong>
                            <img src="../static/images/cd_rom.png" alt="CD-ROM Icon" class="icon" width="32" height="32" draggable="false">
                            CD-ROM
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/printer">
                        <strong>
                            <img src="../static/images/printer.png" alt="Printer Icon" class="icon" width="32" height="32" draggable="false">
                            Printer
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/shared">
                        <strong>
                            <img src="../static/images/shared.png" alt="Shared Directories Icon" class="icon" width="32" height="32" draggable="false">
                            Shared Directories
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/disk">
                        <strong>
                            <img src="../static/images/disk.png" alt="Disk Icon" class="icon" width="32" height="32" draggable="false">
                            Disk
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofile">
                        <strong>
                            <img src="../static/images/profile.png" alt="Profile Icon" class="icon" width="32" height="32" draggable="false">
                            Profile
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/network">
                        <strong>
                            <img src="../static/images/network.png" alt="Network Icon" class="icon" width="32" height="32" draggable="false">
                            Network
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/startup">
                        <strong>
                            <img src="../static/images/startup.png" alt="Startup Icon" class="icon" width="32" height="32" draggable="false">
                            Startup
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/syshotfix">
                        <strong>
                            <img src="../static/images/patch.png" alt="Patch History Icon" class="icon" width="32" height="32" draggable="false">
                            Patch History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/partition">
                        <strong>
                            <img src="../static/images/partition.png" alt="Partition Icon" class="icon" width="32" height="32" draggable="false">
                            Partition
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/update">
                        <strong>
                            <img src="../static/images/update.png" alt="Update Icon" class="icon" width="32" height="32" draggable="false">
                            Update
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofilearch">
                        <strong>
                            <img src="../static/images/profilearch.png" alt="Profile History Icon" class="icon" width="32" height="32" draggable="false">
                            Profile History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/antivirus">
                        <strong>
                            <img src="../static/images/antivirus.png" alt="Antivirus Icon" class="icon" width="32" height="32" draggable="false">
                            Antivirus
                        </strong>
                    </a>
                </li>                
            </ul>
        </nav>

        <div class="right-corner-text">
            <a href="/user_dashboard">View Detailed Information</a>
        </div>
    
    </div>

    <div class="content">
        <ul>
            <li>
                <strong>
                    <img src="../static/images/comp_id.png" alt="Computer ID Icon" class="icon" width="32" height="32" draggable="false">
                    Computer ID:
                </strong>
                <span id="computer-id"></span>
            </li>
            <li id = "hostname-info">
                <strong>
                    <img src="../static/images/host.png" alt="Host Icon" class="icon" width="32" height="32" draggable="false">
                    Hostname:
                </strong> 
                <span id="hostname"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/ip.png" alt="IP Icon" class="icon" width="32" height="32" draggable="false">
                    IP Address:
                </strong> <span id="ip-address"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/department.png" alt="Department Icon" class="icon" width="32" height="32" draggable="false">
                    Department:
                </strong> 
                <span id="department"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/os.png" alt="OS Icon" class="icon" width="32" height="32" draggable="false">
                    Operating System:
                </strong> <span id="os"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/ram.png" alt="RAM Icon" class="icon" width="32" height="32" draggable="false">
                    RAM:
                </strong> 
                <span id="ram"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/monitor.png" alt="Monitor Icon" class="icon" width="32" height="32" draggable="false">
                    Monitor:
                </strong> 
                <span id="monitor"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/mac.png" alt="MAC Icon" class="icon" width="32" height="32" draggable="false">
                    MAC Address:
                </strong> 
                <span id="mac-address"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/chassis.png" alt="Chassis Icon" class="icon" width="32" height="32" draggable="false">
                    Chassis:
                </strong> 
                <span id="chassis"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/uptime.png" alt="Uptime Icon" class="icon" width="32" height="32" draggable="false">
                    Uptime:
                </strong> 
                <span id="uptime"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/age.png" alt="Computer Age Icon" class="icon" width="32" height="32" draggable="false">
                    Computer Age:
                </strong> 
                <span id="computer-age"></span>
            </li>
        </ul>
    </div>

    
    <footer class="footer">
        <p class="footer-text"><strong>© Developed by IT Centre</strong></p>
    </footer>

    <script src="../static/index.js"></script>

</body>
</html>
