<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/sysprofilearch.css">
    <title>PC360 Insights</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon32.ico">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon32.ico">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../static/images/logo.png" alt="Logo" class="logo" draggable="false">
            <div class="logo-text">
                <p><strong>
                    &nbsp;&nbsp;&nbsp; Integral Coach Factory, Chennai-
                    <span class="large-number">600038&nbsp;&nbsp;&nbsp</span><br>
                    A Production unit under Ministry of Railways
                </strong></p>
            </div>
        </div>
    </header>
    
       
    <div class="custom-heading">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </label>
        <a href="/" class="home-button">
            <span class="home-icon-container">
                <img src="../static/images/home.png" alt="Home" class="home" draggable="false" width="32" height="32">
            </span>
        </a>
        <h1>
            <span>PC360 Insights</span>
            <img src="../static/images/img.png" alt="Image" class="image" draggable="false" width="55" height="55">
        </h1>
        <nav class="dropdown-menu">
            <ul>
                <li>
                    <a href="/system"> <!-- Wrap the entire list item with an anchor tag -->
                        <strong>
                            <img src="../static/images/sysinfo.png" alt="System Icon" class="icon" width="32" height="32" draggable="false">
                            System
                        </strong>
                    </a>
                </li>                
                <li>
                    <a href="/software">
                        <strong>
                            <img src="../static/images/software.png" alt="Software Icon" class="icon" width="32" height="32" draggable="false">
                            Software
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/bios">
                        <strong>
                            <img src="../static/images/bios.png" alt="BIOS Icon" class="icon" width="32" height="32" draggable="false">
                            BIOS
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/local">
                        <strong>
                            <img src="../static/images/usercred.png" alt="User Accounts Icon" class="icon" width="32" height="32" draggable="false">
                            User Accounts
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/memory_slot">
                        <strong>
                            <img src="../static/images/memory_slot.png" alt="Memory Slot Icon" class="icon" width="32" height="32" draggable="false">
                            Memory Slot
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/multimedia">
                        <strong>
                            <img src="../static/images/multimedia.png" alt="Multimedia Icon" class="icon" width="32" height="32" draggable="false">
                            Multimedia
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/cdrom">
                        <strong>
                            <img src="../static/images/cd_rom.png" alt="CD-ROM Icon" class="icon" width="32" height="32" draggable="false">
                            CD-ROM
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/printer">
                        <strong>
                            <img src="../static/images/printer.png" alt="Printer Icon" class="icon" width="32" height="32" draggable="false">
                            Printer
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/shared">
                        <strong>
                            <img src="../static/images/shared.png" alt="Shared Directories Icon" class="icon" width="32" height="32" draggable="false">
                            Shared Directories
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/disk">
                        <strong>
                            <img src="../static/images/disk.png" alt="Disk Icon" class="icon" width="32" height="32" draggable="false">
                            Disk
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofile">
                        <strong>
                            <img src="../static/images/profile.png" alt="Profile Icon" class="icon" width="32" height="32" draggable="false">
                            Profile
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/network">
                        <strong>
                            <img src="../static/images/network.png" alt="Network Icon" class="icon" width="32" height="32" draggable="false">
                            Network
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/startup">
                        <strong>
                            <img src="../static/images/startup.png" alt="Startup Icon" class="icon" width="32" height="32" draggable="false">
                            Startup
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/syshotfix">
                        <strong>
                            <img src="../static/images/patch.png" alt="Patch History Icon" class="icon" width="32" height="32" draggable="false">
                            Patch History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/partition">
                        <strong>
                            <img src="../static/images/partition.png" alt="Partition Icon" class="icon" width="32" height="32" draggable="false">
                            Partition
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/update">
                        <strong>
                            <img src="../static/images/update.png" alt="Update Icon" class="icon" width="32" height="32" draggable="false">
                            Update
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/sysprofilearch">
                        <strong>
                            <img src="../static/images/profilearch.png" alt="Profile History Icon" class="icon" width="32" height="32" draggable="false">
                            Profile History
                        </strong>
                    </a>
                </li>
                <li>
                    <a href="/antivirus">
                        <strong>
                            <img src="../static/images/antivirus.png" alt="Antivirus Icon" class="icon" width="32" height="32" draggable="false">
                            Antivirus
                        </strong>
                    </a>
                </li>                
            </ul>
        </nav>
    </div>   
    
     <!-- Add this code after the mapped drive section -->
     <div class="content">
        <div class="sys-info">
            <img src="../static/images/profile.png" alt="Computer Icon" class="icon" width="32" height="32" draggable="false">
            <h2>System Profile Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/comp_id.png" alt="Computer ID Icon" class="icon" width="32" height="32" draggable="false">
                    Computer ID:
                </strong> 
                <span id="computer-id"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/host.png" alt="Hostname Icon" class="icon" width="32" height="32" draggable="false">
                    Hostname:
                </strong> 
                <span id="hostname"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/username.png" alt="Username Icon" class="icon" width="32" height="32" draggable="false">
                    Username:
                </strong> 
                <span id="username"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/uptime.png" alt="Uptime Icon" class="icon" width="32" height="32" draggable="false">
                    Uptime:
                </strong> 
                <span id="uptime"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/age.png" alt="Computer Age Icon" class="icon" width="32" height="32" draggable="false">
                    Computer Age:
                </strong> 
                <span id="computer-age"></span>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="monitor-information">
            <img src="../static/images/monitor.png" alt="Monitor Icon" class="icon" width="32" height="32" draggable="false">
            <h2>Monitor Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/dell.png" alt="Monitor Name Icon" class="icon" width="35" height="35" draggable="false">
                    Name:
                </strong> 
                <span id="monitor-name"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/manufacture.png" alt="Monitor Manufacturer Icon" class="icon" width="32" height="32" draggable="false">
                    Manufacturer:
                </strong> 
                <span id="monitor-manufacturer"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/product.png" alt="Monitor Product Code Icon" class="icon" width="32" height="32" draggable="false">
                    Product Code:
                </strong> 
                <span id="monitor-product-code"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/serial.png" alt="Monitor Serial Number Icon" class="icon" width="32" height="32" draggable="false">
                    Serial Number:
                </strong> <span id="monitor-serial-number"></span>
            </li>
        </ul>
    </div>
    
    <div class="content">
        <div class="cpu-info">
            <img src="../static/images/cpu.png" alt="CPU Icon" class="icon" width="32" height="32" draggable="false">
            <h2>CPU Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/cpumodel.png" alt="CPU Model Icon" class="icon" width="35" height="35" draggable="false">
                    CPU Model:
                </strong>
                <span id="cpu-model"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/systype.png" alt="System Type Icon" class="icon" width="35" height="35" draggable="false">
                    System Type:
                </strong>
                <span id="system-type"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/os.png" alt="OS Icon" class="icon" width="35" height="35" draggable="false">
                    OS Name:
                </strong>
                <span id="os-name"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/version.png" alt="OS Version Icon" class="icon" width="35" height="35" draggable="false">
                    OS Version:
                </strong>
                <span id="os-version"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/manufacture.png" alt="OS Manufacturer Icon" class="icon" width="35" height="35" draggable="false">
                    OS Manufacturer:
                </strong>
                <span id="os-manufacturer"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/configuration.png" alt="OS Configuration Icon" class="icon" width="35" height="35" draggable="false">
                    OS Configuration:
                </strong>
                <span id="os-configuration"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/osbuild.png" alt="OS Build Icon" class="icon" width="35" height="35" draggable="false">
                    OS Build Type:
                </strong>
                <span id="os-build-type"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/date.png" alt="OS date Icon" class="icon" width="35" height="35" draggable="false">
                    OS Install Date:
                </strong>
                <span id="os-install-date"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/product.png" alt="OS Product ID Icon" class="icon" width="35" height="35" draggable="false">
                    Product ID:
                </strong>
                <span id="product-id"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/key.png" alt="OS Product Key Icon" class="icon" width="35" height="35" draggable="false">
                    Product Key:
                </strong>
                <span id="product-key"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/processor.png" alt="Processor Icon" class="icon" width="40" height="35" draggable="false">
                    Processor:
                </strong>
                <span id="processor"></span>
            </li>
        </ul>
    </div>
    
    <div class="content">
        <div class="motherboard-info">
            <img src="../static/images/motherboard.png" alt="Motherboard Icon" class="icon" width="32" height="32" draggable="false">
            <h2>Motherboard Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/manufacture.png" alt="Motherboard Manufacturer Icon" class="icon" width="35" height="35" draggable="false">
                    Motherboard Manufacturer:
                </strong>
                <span id="motherboard-manufacturer"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/mproduct.png" alt="Motherboard Product Icon" class="icon" width="35" height="35" draggable="false">
                    Motherboard Product:
                </strong>
                <span id="motherboard-product"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/version.png" alt="Motherboard Version Icon" class="icon" width="35" height="35" draggable="false">
                    Motherboard Version:
                </strong>
                <span id="motherboard-version"></span>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="memory-info">
            <img src="../static/images/ram.png" alt="Memory Icon" class="icon" width="32" height="32" draggable="false">
            <h2>Memory Information</h2>
        </div>
        <ul>
            <li>
                <strong>
                    <img src="../static/images/total.png" alt="Total Memory Icon" class="icon" width="35" height="35" draggable="false">
                    Total Memory:
                </strong>
                <span id="total-memory"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/availabledisk.png" alt="Available Memory Icon" class="icon" width="35" height="35" draggable="false">
                    Available Memory:
                </strong>
                <span id="available-memory"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/used.png" alt="Used Memory Icon" class="icon" width="35" height="35" draggable="false">
                    Used Memory:
                </strong>
                <span id="used-memory"></span>
            </li>
            <li>
                <strong>
                    <img src="../static/images/percentage.png" alt="Memory Usage Icon" class="icon" width="35" height="35" draggable="false">
                    Memory Usage Percentage:
                </strong>
                <span id="memory-usage-percentage"></span>
            </li>
        </ul>
    </div>
    
    <footer class="footer">
        <p class="footer-text"><strong>© Developed by IT Centre<strong></p>
    </footer>

    <script src="../static/sysprofilearch.js"></script>
</body>
</html>
